body{
    background:url(https://th.bing.com/th/id/OIP.UYB1-axFrucPwjJUBMdK6wHaFT?w=252&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-size: cover;
    background-position: right;
   
}

h1{
    color:crimson;
    background-color: coral;
}
h2{
    color:coral;
}
ol{
    color:fuchsia;
}
p{
    color:navy;
}
input[type=submit]{
    color:darkorange;
    background-color:beige;
}
.center {
    display: block;
    margin: 0 auto;
}